.clock_container{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clock_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock_time{
    color: var(--clockColor);
    font-size: 70px;
}

.clock_date{
    color: var(--clockColor);
    font-size: 18px;
}

.clock_mode{
    font-size: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--mode);
}

.mode_logo{
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rotate{
    transform: rotate(180deg);
}